body {
     background: linear-gradient( to bottom, #FFFFFF,  #3A3A3A, #000000 ); /* black to white gradient*/
background-repeat: no-repeat;
    } 
    /*the words in the cerfication*/
.Certifications {
    color: #000000;
    text-align: center;
    margin-bottom: 10%;
}

.Congradulations{
    color: #000000;
    text-align: center;
    margin-bottom: 10%;
}
.this-certification{
    color: #FFFFFF;
    text-align: center;
}
.your-name{
    color: #FFFFFF;
    text-align: center;
}
.your-signuture{ 
    color: #FFFFFF;
    text-align: left;
 padding-left: 26%;
 display: inline-block;
 
}
.other-signiture{
    color: #FFFFFF;
   padding-left: 72%;
   margin-top: -5%;
    text-align: right;
    display: inline-block;
}
/* the lines for the names*/
.your-name-line{
    width: 59%;
    margin-left: 22%;
    margin-bottom: 10%;
}
.Signuture{
   display: inline-block;
}
.your-signuture-line{
    color: aquamarine;
    width:20%;
    margin-left: 20%;
}
.other-signiture-line{ 
    color: aquamarine;
    width: 20%;
    margin-left: 66%;
    margin-top: -4%;
}